{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if app.user.roles == "SUPERADMIN" %}
    {{ form_widget(form.roles) }}
 
    {% endif %}
    <button class="btn ">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
